<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grimz Music Hub</title>

    <!-- Player-->


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/bootstrap.min.css" type="text/css">


    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GMH</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#thehub">The Hub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#player">Player</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Grimz Music Hub</h1>
                <hr>
                <p>Music Worth Paying For</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Its a movement</h2>
                    <hr class="light">
                    <p class="text-faded">Music worth Paying For is a Nigerian music documentary show hosted by Grimz Music Hub and distributed by Brook TV. The show is going to be primarily aired on Brook TV.
 The program is focused on exposing artists who put in a lot of effort to provide listeners with unique and quality sounds.
The show features various artists and music creators doing different genres of music. They get to share their views on the setup of the music industry, choosing music as a career and discuss originality, inspiration, what comes to mind when writing as well as lifestyle features.
Giving more insight on what it takes to be a music artist and motivation to the youth aspiring to be music artists in the nearest future.
</p>
                    <a href="#" class="btn btn-default btn-xl">Join Now!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="thehub">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Platform Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-play-circle wow bounceIn text-primary"></i>
                        <h3>Online Radio</h3>
                        <p class="text-muted">GMH  Radio is designed to meet a particular class of audience the radio platform will feature good music singles, albums and interesting shows tailored to fit the audience the platform will be broadcasted over the internet via the website and app.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-music wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Discover</h3>
                        <p class="text-muted">Discover a new world of music where you get to create your personalized profile & library, and get to understand each artiste music better with the online lyrics annotation, you also get access to each artiste biography and discography.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>News & Trending</h3>
                        <p class="text-muted">Get the latest in the world of music from shows, albums and artiste personal life, with this feature fans always stay connected with their favourite artistes.
</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">This platform was borne out of the love for good music, music saved my life and good music is worth paying for and this idea we also want our audience to imbibe into them and share the love.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <section id="player">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Player</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
<div>
  <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
  <audio src="http://samcloud.spacial.com/api/listen?sid=73129&rid=127548&f=aac" preload="auto" controls autoplay loop></audio>
              </div>
    </div>
  </div>
   </div>
      </section>

  <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Support the movement.</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Donate</a>
            </div>
        </div>
    </aside>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Are you an artiste, producer or a potential sponsor or investor? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+234 7062 779 776</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:grimzent@gmail.com">grimzent@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/jquery.easing.min.js"></script>
    <script src="assets/jquery.fittext.js"></script>
    <script src="assets/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/creative.js"></script>

</body>

</html>